doctype html
html(lang="ch")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        title 0到1 新手投資入門
    body 
        section.part1 
            div 
                h3
                    img(src="images/0-1.png", alt="")
            .coin1
                img(src="images/coin.png", alt="")
            .coin2
                img(src="images/coin.png", alt="")

        section.part2 
            p 首先，新手最大的問題就是：拖延、遲遲不開始
            p 了解自己的Why很重要，尤其你為什麼要研究投資理財？
            p 很多人想解決財務問題，但停留在想想說說而已
            p 十個人裡面可能只有一兩人真正去做。

        section.part3 
            .container
                .title 
                    img(src="images/t1.png", alt="")
                
                .step1 
                    .desc 
                        h3 現金流與財務自由觀念
                        .highlight
                            span.mark 現金流＝持續性收入－持續性支出
                        .highlight
                            span.mark 財務自由 = 被動收入 > (常態性支出 × 2)
                        p 其中一個觀念就是現金流管理、
                        p 即使你不投資，但只要缺乏現金流觀念、
                        p 那無論是個人或事業的財務都會很危險。
                    .pic1
                        .right
                            img(src="images/nomoney.png", alt="")

                .step1.step2 
                    .pic1
                        .right
                            img(src="images/calc.png", alt="")
                    .desc 
                        h3 管理現金流收入與支出
                        .highlight
                            span.mark 認真記帳不會讓你省錢，認真省錢才會
                        .highlight
                            span.mark 記帳不見得要持續  3~6個月了解自己的花費就行
                        p 記帳是種好習慣、但只記帳並不會讓你變有錢
                        p 更不能為了省錢、犧牲掉健康和對自己的投資。

                .step1.step3 
                    .desc 
                        h3 認識保險的功能
                        .highlight
                            span.mark 用小錢得到大保障
                        .highlight
                            span.mark 保大不保小，只保自己無法承擔的風險
                        p 最全面的保險就是被動收入。
                        p 當你財務狀況越好、其實就越不需要保險。
                    .pic1
                        .right
                            img(src="images/insurance.png", alt="")
        .greenbar
        section
            .container.con2 
                .title 
                    img(src="images/t2.png", alt="")
                .text 
                    p 很多人會問：要怎麼才能投資成功？
                    p 其實你初步簡化一下這個問題：「先思考，怎樣投資一定會失敗？」
                .pic
                    img(src="images/problem.png", alt="")
                .text
                    p 首先，我們可以簡單避免的，
                    p 就是自己因為意外而被迫把投資賣在不該賣的地方，導致投資失敗。
                    p 另外要記得目的，
                        span.highlight 我們追求的是財務的成功，
                    p 而不是一定要靠投資成功，有些人可能做完上面理財那幾步，
                    p 就已經達到財務的成功了。
                
                .target 
                    .choosepart 
                        h4 關於投資的終點：「設定投資目標。」以下精選2個重點:



            


